@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* 가로 스크롤바 제거 */
    color: #000; 
    scroll-behavior: smooth;
    font-family: 'Pretendard';
    letter-spacing: -0.01em;
}
a{
    color: inherit;
    text-decoration: none;
}

.main_box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.bgvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 화면 비율에 맞게 잘림 */
    z-index: -1;
    filter: brightness(0.4);
}

.menubar{
    position: absolute;
    width: 1760px;
    height: auto;
    margin-top: 58px;
}
.floatmenu{
    width: 44px;
    height: 157px;
    position: fixed;
    top: 456px;
    right: 36px;
}

/* content */
.main_content_box{
    width: 1340px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.main_text{
    width: 284px;
    height: 86px;
    position: absolute;
    top: 146px;
    left: 0;
}
.text_1{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.text_2{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}
.text_3{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 14px;
}

.left_nametag{
    width: 82px;
    height: 337px;
    position: absolute;
    left: 92px;
    top: 396px;
    display: flex;
    align-items: center;
}
.left_tx{
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    height: 337px;
    justify-content: space-between;
}
.left_text{
    color: #B2B2B2;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.left_text_1{
    color: #FFE44D;
}
.left_text_2:hover{
    color: #FFE44D;
}
.left_text_3:hover{
    color: #FFE44D;
}
.left_text_4:hover{
    color: #FFE44D;
}
.left_text_5:hover{
    color: #FFE44D;
}
.left_text_6:hover{
    color: #FFE44D;
}

/* 맵 버튼 */
.map_box{
    width: 942px;
    height: 854px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.map{
    position: absolute;
    opacity: 0.3;
    transition: 0.5s;
}

/* 버튼들 */
#map_button1{
    width: 183px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 179px;
    margin-left: 328px;
    cursor: pointer;
}
#button1{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button1_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button1:hover > #button1{
    visibility: hidden;
    opacity: 0;
}
#map_button1:hover > #button1_1{
    visibility: visible;
    opacity: 1;
}

#map_button2{
    width: 200px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 89px;
    margin-left: 509px;
    cursor: pointer;
}
#button2{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button2_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button2:hover > #button2{
    visibility: hidden;
    opacity: 0;
}
#map_button2:hover > #button2_1{
    visibility: visible;
    opacity: 1;
}

#map_button3{
    width: 257px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 585px;
    margin-left: 252px;
    cursor: pointer;
}
#button3{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button3_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button3:hover > #button3{
    visibility: hidden;
    opacity: 0;
}
#map_button3:hover > #button3_1{
    visibility: visible;
    opacity: 1;
}

#map_button4{
    width: 196px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 324px;
    margin-left: 326px;
    cursor: pointer;
}
#button4{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button4_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button4:hover > #button4{
    visibility: hidden;
    opacity: 0;
}
#map_button4:hover > #button4_1{
    visibility: visible;
    opacity: 1;
}

#map_button5{
    width: 203px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 306px;
    margin-left: 652px;
    cursor: pointer;
}
#button5{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button5_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button5:hover > #button5{
    visibility: hidden;
    opacity: 0;
}
#map_button5:hover > #button5_1{
    visibility: visible;
    opacity: 1;
}

#map_button6{
    width: 297px;
    height: 69px;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 468px;
    margin-left: 517px;
    cursor: pointer;
}
#button6{
    width: 100%;
    visibility: visible;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
}
#button6_1{
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}
#map_button6:hover > #button6{
    visibility: hidden;
    opacity: 0;
}
#map_button6:hover > #button6_1{
    visibility: visible;
    opacity: 1;
}


/* 팝업창 */
.pup{
    width: 1146px;
    height: 790px;
    position: absolute;
    z-index: 100;
    background-color: #ffffffdf;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 13px;
    box-shadow: 0 8px 50px rgb(0 0 0 / 40%), 0 10px 10px rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
}
#close_bt{
    position: absolute;
    margin-top: 26px;
    right: 26px;
    cursor: pointer;
}
#pup1{
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    transform: translateY(-20%);
}
.pup_text1{
    position: absolute;
    margin-top: 26px;
    left: 26px;
}
.pup_tx1{
    font-size: 25px;
    font-weight: 700;
}
.pup_tx2{
    font-size: 16px;
    font-weight: 300;
}
.pup_scroll{
    width: 1094px;
    height: 665px;
    margin-top: 99px;
    overflow-y: scroll; /* 세로 스크롤만 허용 */
    overflow-x: hidden;
}
.pup_scroll::-webkit-scrollbar {
    display: none;
}
.pup_text3{
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
}








/* footer */
footer{
    width: 100vw;
    height: 174px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: center;
}
.footimg{
    width: 80%;
    object-fit: contain;
}
